.avia-section.av-kyj69ewx-7c29376e54a69dadcb4934062426424b{
background-color:#cecfc6;
}

#top .flex_column_table.av-equal-height-column-flextable.av-2nyo2g-48bfabff577c729f138a3c0227aa6171{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-2nyo2g-48bfabff577c729f138a3c0227aa6171{
width:26.666666666667%;
margin-left:0;
background-color:#ffffff;
}
#top .flex_column_table.av-equal-height-column-flextable.av-2nyo2g-48bfabff577c729f138a3c0227aa6171 .av-flex-placeholder{
width:10%;
}

.avia-image-container.av-kymedw07-d3a22dca8ed82e8c992f853777f49af1 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-kymegw6f-2e173f861fd60118fa0ae40767ddfcec .avia_textblock{
text-align:center;
}

.avia-image-container.av-kymeddt6-c43119ce514d86a3facf928f4b0af670 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-kyj6a88v-3aa5a5a2483e037e402e6eb04a177718{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-kyj6a88v-3aa5a5a2483e037e402e6eb04a177718{
width:26.666666666667%;
margin-left:0;
background-color:#ffffff;
}
#top .flex_column_table.av-equal-height-column-flextable.av-kyj6a88v-3aa5a5a2483e037e402e6eb04a177718 .av-flex-placeholder{
width:10%;
}

.avia-image-container.av-kyjln8u0-a377ad42716a22527b32d1f94d35f488 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-kyj6kbvb-53ffe9bbfbbf344ee035e169f7089d73 .avia_textblock{
text-align:center;
}

.avia-image-container.av-kyjd9b89-ff5b24131b2271c0ca25fd13c68f82c3 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-p5l3c-b7417f67dc59b63b1894fc78db115232{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-p5l3c-b7417f67dc59b63b1894fc78db115232{
width:26.666666666667%;
margin-left:0;
background-color:#ffffff;
}
#top .flex_column_table.av-equal-height-column-flextable.av-p5l3c-b7417f67dc59b63b1894fc78db115232 .av-flex-placeholder{
width:10%;
}

.avia-image-container.av-kyjllz9k-0e2247815952f0e134f3529116e53bdf .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-kyjdlet7-1b86635f16999428932110bc9efe321d .avia_textblock{
text-align:center;
}

.avia-image-container.av-5ipvd4-bebd4975afc3c353bb37f437ae7979bc .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-4uwbg8-7ac77895c953044917d7b39607a56142{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-4uwbg8-7ac77895c953044917d7b39607a56142{
width:45%;
margin-left:0;
background-color:#ffffff;
}
#top .flex_column_table.av-equal-height-column-flextable.av-4uwbg8-7ac77895c953044917d7b39607a56142 .av-flex-placeholder{
width:10%;
}

.avia-image-container.av-kyjlobbc-df58faf1b9454a8372603aeb69958eb2 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-2560i0-20207844919dc1754910665275dbd82a{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-2560i0-20207844919dc1754910665275dbd82a{
width:45%;
margin-left:0;
background-color:#ffffff;
}
#top .flex_column_table.av-equal-height-column-flextable.av-2560i0-20207844919dc1754910665275dbd82a .av-flex-placeholder{
width:10%;
}

#top .av_textblock_section.av-kyjd369h-31698dea022cee324222f0528e444f26 .avia_textblock{
text-align:center;
}

.avia-section.av-c4wrco-25d177e941d7780f3226a73e80dc105d{
background-color:#cecfc6;
}

#top .flex_column_table.av-equal-height-column-flextable.av-azo9zs-43d9c8c10d159d4f647c0705bb04cf02{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-azo9zs-43d9c8c10d159d4f647c0705bb04cf02{
width:34%;
margin-left:0;
padding:20px 20px 20px 20px;
background-color:#ffffff;
}
#top .flex_column_table.av-equal-height-column-flextable.av-azo9zs-43d9c8c10d159d4f647c0705bb04cf02 .av-flex-placeholder{
width:10%;
}

#top .av_textblock_section.av-kyje4kir-7ed95bf70063f0318462abce3de4417b .avia_textblock{
text-align:center;
}

#top .av_textblock_section.av-kyjn3v6r-36d37135ffb9eebc2f18ad6127c5d2fd .avia_textblock{
text-align:left;
}

#top .av_textblock_section.av-kykk52mj-91178d55a4aff1b00ef0f7d571d72cce .avia_textblock{
text-align:left;
}

#top .av_textblock_section.av-kykk6q54-42045030d772d6a50d331f246ca2cf89 .avia_textblock{
text-align:left;
}

#top .flex_column_table.av-equal-height-column-flextable.av-1tk9x4-e8c102bb8432da643450dc11471016d5{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-1tk9x4-e8c102bb8432da643450dc11471016d5{
width:34%;
margin-left:0;
padding:20px 20px 20px 20px;
background-color:#ffffff;
}
#top .flex_column_table.av-equal-height-column-flextable.av-1tk9x4-e8c102bb8432da643450dc11471016d5 .av-flex-placeholder{
width:10%;
}

#top .av_textblock_section.av-kykk7exq-e5089cf90685c4ffcf6314a44afc803c .avia_textblock{
text-align:center;
}

#top .av_textblock_section.av-kykk94zi-b2401c21305e3e0c64fb12f1a49c091c .avia_textblock{
text-align:left;
}

#top .av_textblock_section.av-kykkajsn-5ec4c1fba0abc89d499ded93c7f7241a .avia_textblock{
text-align:left;
}

#top .av_textblock_section.av-kykkbqn6-f4a49069bbb47d13439f41f161c4f668 .avia_textblock{
text-align:left;
}

